$background: #2d1b1b;

.pit-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  .pit {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 50%;
    background: $background;
    overflow: hidden;
    transition: background-color .2s ease;

    &:hover {
      background: darken($background, 3);
    }
  }
}
